<!-- Page Header-->
<header class="masthead" style="background-image: url('./assets/images/node_js_import.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-heading">
          <h1>Node.js 투입 일주일 전을 읽고..</h1>
          <h2 class="subheading">브라우저 밖의 Javascript</h2>
          <span class="meta">Posted by <a href="javascript: void(0)">김찬우</a> on January 17, 2022</span>
        </div>
      </div>
    </div>`
  </div>
</header>

<article class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">

        <h2 class="section-heading">시작하며</h2>

        <p>
          - 본 도서는 Node.js 입문 서적으로 백엔드 개발을 처음하거나, 전반적인 큰 맥락을 파악하고자 할 때
          읽어보면 좋을 책임
        </p>

        <p>
          - 주로 Node.js의 기본적인 동작에 대한 설명과 Javascript에서
          많이 사용하는 문법, 그리고 기반하여 몇가지 기능들을 개발해볼 수 있도록 내용이 구성되어있음
        </p>

        <a href="javascript: void(0)">
          <img class="img-fluid" src="./assets/images/node_js_import.jpg" alt="..." />
        </a>
        <span class="caption text-muted">구매한 책</span>

        <a href="javascript: void(0)">
          <img class="img-fluid" src="./assets/images/node_js_import02.jpg" alt="..." />
        </a>
        <span class="caption text-muted">책 개요</span>


        <h2 class="section-heading">node.js란</h2>

        <p>
          1.  node.js 란 <br/>
          - node.js란 Chrome V8 Javascript 엔진으로 빌드된 Javascript 런타임임<br/>
          ※ Javascript 런타임 : 자바스크립트가 실행될 수 있는 환경을 말함. (ex/: 브라우저) JAVA로 치면 JVM 같은 환경
        </p>

        <p>
          2. node.js의 활용처<br/>
          - node.js는 node.js가 설치되는 환경이라면 개인PC, 서버, 웹 등 여러 환경에서 Javascript를 이용해 범용적인 소프트웨어 개발이 가능함<br/>
          - javascript 생태계와 같이 발전하기 때문에 특히 웹 부분, 웹서버로서의 역할로 많이 발전해있음
        </p>

        <p>
          3. 기반 프레임워크<br/>
          - 백엔드에서 많이 사용되는 프레임워크는 Express, Nest.js 등이 있음
        </p>

        <p>
          4. 키핑 서비스에서의 node.js<br/>
          - 키핑 서비스에서의 node.js는 REST API로서 이용되고 있음<br/>
          - 예를 들어 피드 등록, 피드 조회, 댓글 달기 등의 기능을 예로 들 수 있음<br/>
          ※ REST API란 간단하게 설명했을 때 HTTP 프로토콜을 이용하여 원격 자원의 CRUD(Create, Read, Update, Delete)를 가능하게 하는 API임<br/>
          ※ 조회, 수정, 삭제 등의 기능을 구현한 프로그램을 HTTP 통신을 이용해 사용함<br/>
        </p>


        <h2 class="section-heading">마치며</h2>

        <p>
          책의 내용은 학습을 위해 여러 기능들에 대해 이해하기 쉽게 작성되어있음. 프로젝트 전체에서 사용하는 기술로 봤을 때는 일부분의 기술이지만,
        서버사이드의 자원들을 활용할 수 있도록 사용이 되므로 시간을 두고 계속해서 적용시켜 나가는 것을 목표로 삼아야 할 것 같음
        </p>

        <p>
          본 블로그의 요약글 또한 Node.js의 일부 기술들이 적용됨
        </p>

        <h2>감사합니다~ :)</h2>
        <p></p>

        <p style="font-style: italic">
          본 게시물은 실제 서버에서 운영되고 있는 사이트 입니다.
          <a href="javascript: void(0)"></a>
          &middot; posts by <a href="javascript: void(0)">김찬우</a>
        </p>
      </div>
    </div>
  </div>
</article>
