<!-- Page Header-->
<header class="masthead" style="background-image: url('./assets/images/not_development_today.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-heading">
          <h1>오늘도 개발자가 안 된다고 말했다</h1>
          <h2 class="subheading">개발 협업이 어려운 기획자&디자이너를 위한 필수 가이드 북</h2>
          <span class="meta">Posted by <a href="javascript: void(0)">김찬우</a> on March 10, 2022</span>
        </div>
      </div>
    </div>
    `
  </div>
</header>

<article class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">

        <h2 class="section-heading">시작하며</h2>

        <p>
          S/W 개발을 진행하다보면 기획자, 디자이너, 사용자들과 소통해야할 일이 많이 생긴다.
          많은 S/W 개발 프로젝트에서 서로의 의견 차이로 트러블이 발생한다.<br/><br/>

          아무래도 사람과 사람이 소통하는 일이다 보니 서로가 아는 지식의 차이, 맡은 업무상의 차이,
          개인의 성향의 차이 등 의견을 조율해야하는 일이 숱하게 발생한다.<br/><br/>

          개발자의 업무상 기획이던 디자인 시안이던 아이디어던 이것이 결국에 정리되어
          개발자에게 돌아오게 되고, 개발자는 그것을 동작하는 기능으로 구현해내어야 한다.<br/><br/>

          그렇기 때문에 실제 구현하는 작업자의 머릿속은 복잡하다. 여러가지 고려해야 할 것이 많기 때문.<br/><br/>

          나는 이미 S/W를 개발하는 입장에서 이미 고충들을 알고 있지만,
          개발자 외 개발에 참여하는 동료들이 정말 궁금해 하는 것이 무엇이었을까?
          무엇을 알려줘야 내가 하고 있는 업무들에 대해서 공유할 수 있을까? 이런 고민을 가지고 이번 책을 선택하게 되었다.
        </p>

        <a href="javascript: void(0)">
          <img class="img-fluid" src="./assets/images/not_development_today.jpg" alt="...">
        </a>
        <span class="caption text-muted">이미지의 상황이 바로 이해 됨</span>

        <h2 class="section-heading">돌아보면..</h2>

        <p>
          내가 진행했던 지난 프로젝트들을 돌아보면 잘 정리되어 정말 일만 하면 됐던 프로젝트도 있었지만, 또 정말 소통이 안되어
          말로 시작해서 말로 끝났던 프로젝트도 있었다.<br/>
          돌아보면 그떄의 나는 그들에게 잘 설명해주었고, 그들을 이해시켰을까? 이건 아직도 잘 모르겠다.
        </p>

        <h2 class="section-heading">개발자의 머릿속</h2>

        <p>
          책 내용에서도 되어있듯 개발업무의 특성상 개발자의 머리속은 복잡하다.<br/>
          예를 들어 텍스트를 입력하고 검색 버튼을 누르면 화면에 검색결과가 출력되는 간단한 프로그램을 구현한다고 하면,
          실제 데이터가 존재하는 데이터베이스가 어떻게 구성되어 있는 지 고민해야되며 또,
          그 데이터베이스를 어떻게 질의를 하여 알맞는 데이터를 가지고 올지 가져온 데이터를 어떻게 다시 클라이언트로 보내줄 지,
          클라이언트에 보낸 데이터를 어떻게 가공할지 UI상에 어떻게 출력해줄지, 그 사이에 동작이 올바르게 동작하는지에 대한
          테스트와 같은 디버깅 등 화면상에 보이는 간단한 동작을 구현하기 위하여 많은 기술들을 사용해야한다.
          이런 각 단계의 시행착오를 거쳐야 비로소 원하는 대로 동작하는 하나의 프로그램이 구현된다.
        </p>

        <a href="javascript: void(0)">
          <img class="img-fluid" src="./assets/images/developer_brain.png" alt="...">
        </a>
        <span class="caption text-muted">기능 구현할 때의 개발자 머릿속</span>

        <p>
          사실 이러한 절차를 구구절절 이야기해도 실제 개발을 경험해본 구성원이 아니고선 개발 업무 흐름을 이해하는 것 자체가 힘들다는 것을
          개발자들은 몸소 경험해서 알기 때문에 대게 그건 안됩니다. 그건 시간이 오래걸립니다. 이렇게 단답을 할 수 밖에 없다.
        </p>

        <p>
          이런 점들이 쌓여 소통의 골을 만드는 게 아닐까.
        </p>

        <h2 class="section-heading">내 생각.</h2>

        <p>
          책에서는 개발자와 소통하기 위해 알아야할 필수 단어와 같은 용어와 더불어 개발자가 왜 안된다고 할 수 밖에 없었는지,
          간단한 기능 구현을 부탁했는데 왜 시간이 오래걸린다고 이야기 하는 건지에 대한 고충들이 설명되어있다.
        </p>

        <p>
          하지만 개발자가 개발하는 환경에 대한 단어나, 사용 기술에 대해서 용어를 알면 아무래도 대화하기에 수월하겠지만
          아마.. 이해하기 힘들 것이다. 나 또한 처음 개발을 공부하고 프로젝트를 진행했을 때는 무슨 말을 하는지
          못 알아 들었다. 알아듣게 된 것은 프로젝트를 완수하게 되고 아.. 프로그램이란 이렇게 굴러가는구나 라고
          몸으로 바로 이해하게 되었었다.
        </p>

        <p>
          그렇기 때문에 나는 정말 개발자와 심도 깊은 이야기를 나누고 싶다면 간단하게라도 프로그램을 한번 만들어보는게 좋다고 생각한다.
          나 같은 경우 실제로 나와 같이 업무를 하시는 분들 PC에 개발도구를 매번 세팅해드리며 한번 수정해보시라 권유하고 있다.
          이러니 저러니 이건 이렇고 이건 저거고 어떻게 켜고 구구절절 말이 길어지지만 이해하고자하는 관심이 있으면, 한번씩 둘러 볼 것이고
          그것이 언젠간 이해받으리라.. 생각한다. 그렇기 때문에 비슷한 맥락으로 같이 프로젝트를 진행하는 지혜님 자리에도 프로젝트를 세팅해드렸다.
        </p>

        <h2 class="section-heading">마치며</h2>

        <p>
          본 책은 거창한 제목을 보고 선택하게 되었지만. 제목과는 달리 내용에는 고충에 대한 사례가 많이 없고 두리뭉술하게
          표현되어 아쉬웠던 도서였다. 더군다나 중간 챕터는 IT 용어들이 주르르륵 설명 되어있는데. 오히려 이 부분만 공부하고
          용어만 개발 업무를 하시는 분들에게 툭 던지면 아마.. 싸늘한 반응을 경험 하실 것 이다. 실제 내가 경험했다.
        </p>

        <p>
          위 내용에는 개발을 해보는게 소통에 도움이 된다라고 적었지만 그게 쉽지 않다는 건 이미 이해하고 있다. 따라서
          내가 생각했을 때는 용어나 고충도 물론 중요하지만 서로 업무하는 부분에서 확실하게 본인의 업무의 흐름을 이야기 할 수 있게
          되는게 더 중요하지 않는가 생각한다. 그것을 토대로 개발자가 흐름을 이해하고 프로그램으로 구현하기 때문.
          (요구사항을 분석하는 것 또한 개발자의 역할)
        </p>

        <p>
          따라서 전반적으로 구현하고자 하는 업무의 흐름을 잘 이해하고(ux/ui) 공유되어야 이해차이가 줄어 들어 소통이 수월해지지 않는가 생각한다.
        </p>

        <p>
          책을 읽고 나 또한 여러가지를 관심가지고 경험해서 잘 소통할 수 있는 사람이 되었으면 좋겠다고 반성하며 독후감을 마치려고 한다.
        </p>

        <h2>감사합니다~ :)</h2>
        <p></p>

        <p style="font-style: italic">
          3월 어느날&middot;&middot;&middot;&middot;&middot;
          <a href="javascript: void(0)"></a>
          posts by <a href="javascript: void(0)">김찬우</a>
        </p>
      </div>
    </div>
  </div>
</article>
