<!-- Page Header-->
<header class="masthead" style="background-image: url('./assets/images/flexible_office_room.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>김찬우 독후감</h1>
          <span class="subheading">책 읽고 독후감 쓰려고 만든 웹</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">

      <!-- Post preview-->
      <div class="post-preview">
        <a [routerLink]="'/post01'">
          <h2 class="post-title">Node.JS 투입 일주일 전을 읽고..</h2>
          <h3 class="post-subtitle">그 밖에 여러가지 회고록</h3>
        </a>
        <p class="post-meta">
          Posted by <a href="#!">김찬우</a> on January 17, 2022
        </p>
      </div>

      <!-- Divider-->
      <hr class="my-4"/>
      <!-- Post preview-->

      <!-- Pager-->
      <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-primary text-uppercase"
           href="javascript: void(0)"
           (click)="errorAlert('다른 게시물이 없습니다.')">Older Posts →</a>
      </div>
    </div>
  </div>
</div>

