<!-- Footer-->
<footer class="border-top">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="javascript: void(0)">
              <span class="fa-stack fa-lg">
              </span>
            </a>
          </li>
        </ul>
        <div class="small text-center text-muted fst-italic">Copyright &copy;
          <img src="./assets/images/flexible_logo.jpg" style="width: 60px !important; margin-bottom: 4px;"/> 2022</div>
      </div>
    </div>
  </div>
</footer>
