<!-- Page Header-->
<header class="masthead" style="background-image: url('./assets/images/aws-cloudformation-index.png')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-heading">
          <h1>AWS에 소스코드 배포 테스트를 위한 회고록</h1>
          <h2 class="subheading">그냥 느낀점 여러가지</h2>
          <span class="meta">Posted by <a href="javascript: void(0)">김찬우</a> on January 14, 2022</span>
        </div>
      </div>
    </div>`
  </div>
</header>
<!-- Post Content-->
<article class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">

        <h2 class="section-heading">개요</h2>

        <p>
          어느덧 입사한 지 1개월이 되어간다. 몇년 근무한 것 같은 기분이 드는데 생각보다 시간이 많이 안 흘렀다.
          여러가지 분석하며 공부한 내용들에 대해서 실제로 적용하는 시간을 가지고자 한다.
        </p>

        <p>
          이전 근무하셨던 개발자님께서 남겨주신 유산(소스코드)의 분석과 전반적인 배포 관련 파이프라인 관련하여 학습이 필요해서
          새로 프로젝트 만들고 배포 테스트를 진행중이다.<br/>
          지금 여러분이 보고 있는 이 웹이 그 결과물 중 하나임
        </p>

        <blockquote class="blockquote">지금 이 웹은 AWS에 배포되어있음..</blockquote>

        <a href="javascript: void(0)">
          <img class="img-fluid" src="./assets/images/aws-cloudformation-index.png" alt="..." />
        </a>
        <span class="caption text-muted">AWS Cloud Formation</span>

        <h2 class="section-heading">기반 책도 구매함!</h2>

        <p>
          솔직히 책을 구매하고 목차 부분을 제일 많이 읽은 것 같다..... 전반적으로 프레임워크에서 제공하는 기능과 대략적인 흐름 파악을 위해
          구매한 도서이기에 어느정도 목적은 달성한 셈이라 생각한다.
        </p>

        <!-- inner images -->
        <a href="javascript: void(0)">
          <img class="img-fluid" src="./assets/images/node_js_import02.jpg" alt="..." />
        </a>
        <span class="caption text-muted">구매한 책 개요</span>

        <h2 class="section-heading">결과</h2>

        <p>
          전반적으로 기존 키핑 프로젝트 관련해서 소스코드를 분석중이기도 했고, 분석하며 습득한 기술을 실습해볼 프로젝트도 필요했다.<br/>
          그래서 현재 키핑과 유사한 인프라를 구축하고 거기에 진행중인 프로젝트 소스코드를 배포함
        </p>

        <p>
          이왕 하기로 한 것. 도메인 구매하고 이것저것 AWS 서비스 신청하고~ 중간중간 인강도 들어가며 스터디에 몰두함. 사비도 좀 들었다. <br/>
        </p>

        <blockquote class="blockquote">나름의 우여곡절이 많았음...</blockquote>

        <p>
          결과적으로는 백엔드, 프론트엔드, AWS(서버사이드 인프라)에서 프로젝트를 진행할 수 있도록 전반적인 스터디를 진행할 수 있었다.
        </p>

        <p>
          지금 글을 작성하는 페이지도 소스코드 분석하며 습득한 기술로 만듦.
        </p>

        <p>
          <strong>사이드 프로젝트 진행하며 사용한 기술</strong><br/>
          - 인프라 : Cloud-Formation, Route53, S3, Cloud-Front, Lambda, API-Gateway, EC2 <br/>
          - 백엔드 : node.js, express, nest.js <br/>
          - 프론트엔드 : Angular <br/>
          - 언어 : Typescript, Javascript
        </p>

        <p>
           약속한 남은 일정까지 더 깊이있게 스터디 진행하고 간간히 결과를 공유할 수 있으면 좋겠다.
        </p>

        <p style="font-style: italic">
          본 게시물은 실제 서버에서 운영되고 있는 사이트 입니다.
          <a href="javascript: void(0)"></a>
          &middot; posts by <a href="javascript: void(0)">김찬우</a>
        </p>
      </div>
    </div>
  </div>
</article>
